/* Ensure each section takes up 100% of the viewport height */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Smooth scroll for a better user experience */
html {
  scroll-behavior: smooth;
}

/* Style each section for visual separation */
#about {
  background-color: #060606; /* Light background */
}

#projects {
  background-color: #1b1e20; /* Slightly darker */
}

#contact {
  background-color: #000408; /* Even darker */
}

/* Basic styling for the footer */
footer {
  background-color: #84cc16;
  color: rgb(9, 9, 9);
  padding: 1rem 0;
  text-align: center;
}
