@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom background images */
.bg-home {
  background-image: url('https://source.unsplash.com/1600x900/?technology');
  background-size: cover;
  background-position: center;
}

.bg-projects {
  background-image: url('https://source.unsplash.com/1600x900/?workspace');
  background-size: cover;
  background-position: center;
}
